<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<div>
<form class="" action="/potlucks" method="post">

  <label for="name">name<label>
    <input type="text" name="potluck[name]">

    <label for="location">location<label>
    <input type="text" name="potluck[location]">

    <label for="starts_at">date/time<label>
    <input type="datetime-local" name="potluck[starts_at]">


    <input type="submit" name="" value="Submit">
</form>
</div>
