<% if @error %>
<ul>
  <li><%= @error %></li>
  <% end %>
</ul>
<div>
  <h2>Login</h2>
  <form action="/session" method="post">

    <label for="username">Username</label>
    <input type="text" name="user[username]">

    <label for="password">Password</label>
    <input type="password" name="user[password]">

    <input type="submit" name="" value="Sign Up">
  </form>
</div>
