<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>
<div>
  <h2>Register</h2>
  <form action="/users" method="post">
    <label for="email">Email</label>
    <input type="email" name="user[email]">

    <label for="username">Username</label>
    <input type="text" name="user[username]">

    <label for="password">Password</label>
    <input type="password" name="user[password]">

    <input type="submit" name="" value="Sign Up">
  </form>
</div>
