<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>
<div>
<form class="" action="/potlucks/<%= @potluck.id %>/ticket" method="post">

  <label for="item">item<label>
    <input type="text" name="ticket[item]">

    <input type="submit" name="" value="Submit">
</form>
</div>
