<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <% if current_user %>
  <table>
    <span><a href="/">Home</a> | </span>
    <span><a href="/potlucks/new">Host a Potluck</a> | </span>
    <span><a href="/potlucks">View All PotLucks</a> | </span>
    <span><a href="/logout">Logout</a></span>
    <span><p>Welcome, <%= @user.username %> </p></span>
  </table>
  <% else %>
  <table>
    <span><a href="/session/new">Login</a> | </span>
    <span><a href="/users/new">Register</a></span>
  </table>
  <% end %>
  <%= yield %>
</body>
</html>
